[core]
	editor = vim
[user]
	name = Mariana Picolo
[alias]
	ci = commit
	st = status
	co = checkout
	cp = cherry-pick
	sw = switch
	swc = switch -c
	ll = log --format='%C(auto)%h -%d %s%Cgreen %as%Creset'
 	del = branch -D
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)[%(authorname)]' --sort=-committerdate
	undo = reset HEAD~1 --mixed
  	res = !git reset --hard
  	p = !git push origin HEAD
	rbc = rebase --continue
  	rba = rebase --abort
  	rbs = rebase --skip
[commit]
	gpgsign = true
